body {
   padding: 0;
   margin: 0;
   background-color: #ece2e2;
   display: flex;
   justify-content: center;
}

#container {
   width: 80%;
   max-width: 800px;
}

#container div {
   background-color: #ccc;
   padding: 5px;
}

#container div:nth-child(2n) {
   background-color: #fff;
}

form {
   position: fixed;
   bottom: 0;
   background-color: white;
   max-width: 800px;
   width: 80%;
   display: flex;
}

input {
   flex: 1;
   font-size: 1.2em;
}

button {
   width: 20%;
   height: 35px;
}
